.login{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-area{
    height: 60%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $dark-accent;
    border-radius: $area-radius;
    border: 1px solid $dark-color-1;

    .login-title{
      font-size: 20px;
      color: $dark-color-1;
    }

    .login-input{
      background: transparent;
      color: $dark-color-2;
      font-size: 25px;
      border: 1px solid $dark-color-1;
      padding: 5px;
    }

    .login-btn{
      font-size: 25px;
      background: $dark-color-1;
      color: $dark-accent;
      text-decoration: none;
      margin: 10px;
      padding: 10px;
      border-radius: $btn-radius;
    }
  }
}